.navBar {
  display: flex;
  justify-content: space-between;
}
.button {
  display: flex;
  justify-content: space-between;
}
.button button {
  margin: 10px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-left: 10px;
}
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  display: flex;
  justify-content: space-between;
}
.addressInput {
  display: flex;
  justify-content: space-between;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh;
}
.searchBlock {
  display: flex;
  justify-content: space-around;
}
.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.introduction {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
}
